@model RealEstateApi.Models.ImovelModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>ImovelModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDoImovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDoImovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDeVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDeVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDeLocacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDeLocacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">De volta para a lista</a>
    </form>
</div>
